{% extends 'blog/index.html' %}
{% load static %}

{% block title %} Kategori {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block body_class %} presentation-page {% endblock %}

{% block content %}

    <div class="page-header min-vh-50"
         style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/minimal-interior.jpg')">
        <span class="mask bg-gradient-info"></span>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-white text-center">
                    {% for foo in kategori %}
                        <h2 class="text-white">{{ foo.category.name }} Kategorisi</h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden" style="height:36px;margin-top:-35px;">
        <div class="w-full absolute bottom-0 start-0 end-0"
             style="transform: scale(2);transform-origin: top center;color: #fff;">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <div class="container">
        <div class="row bg-white shadow-lg mt-n6 border-radius-md pb-4 p-3 position-relative w-75 mx-auto">
            <div class="col-lg-8 mt-lg-n2 mt-2">
                <label>Arama</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                    <input class="form-control" placeholder="Gönderi Arama" type="text">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center mt-lg-auto mt-2">
                <button type="button" class="btn bg-gradient-info w-100 mb-0">Ara</button>
            </div>
        </div>
    </div>
    </header>
    <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->

    <div class="container mt-7">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6 justify-content-center d-flex flex-column">
                        {% for foo in kategori %}
                            <div class="card">
                                <div class="d-block blur-shadow-image">
                                    <img src="{{ foo.category.image.url }}"
                                         alt="img-blur-shadow-blog-2" class="img-fluid border-radius-lg">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-6 justify-content-center d-flex flex-column pl-lg-5 pt-lg-0 pt-3">
                        {% for foo in kategori %}
                            <h3 class="card-title">
                                <a class="text-dark">{{ foo.category }} Kategorisi </a>
                            </h3>
                            <p class="card-description">
                                {{ foo.category.explain }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="row mt-5">
                        <div class="col-lg-4 mb-lg-0 mb-4">
                            <!-- Start Card Blog Fullbackground - text centered -->
                            {% for object in kategori %}
                                <a href="{% url 'detay' object.category.name.lower object.slug %}">
                                    <div class="card card-background move-on-hover">
                                        <div class="full-background"
                                             style="background-image: url({{ object.cover.url }})"></div>
                                        <div class="card-body pt-12">
                                            <h4 class="text-white">{{ object.title }}</h4>
                                            <p>{{ object.text|safe|truncatechars_html:100 }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% empty %}
                                <div class="col-lg-4 mb-lg-0 mb-4">
                                    <!-- Start Card Blog Fullbackground - text centered -->
                                    <a href="javascript:;">
                                        <div class="card card-background move-on-hover">
                                            <div class="full-background"
                                                 style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-time.jpg')"></div>
                                            <div class="card-body pt-12">
                                                <h4 class="text-white">Search and Discovery</h4>
                                                <p>A network alone will not lead to opportunities.
                                                    It has to be combined with the content you consume (books, media) to
                                                    see how
                                                    this network.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Card Blog Fullbackground - text centered -->
                                </div>
                                <div class="col-lg-4">
                                    <!-- Start Card Blog Fullbackground - text centered -->
                                    <a href="javascript:;">
                                        <div class="card card-background move-on-hover">
                                            <div class="full-background"
                                                 style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/cactus.jpg')"></div>
                                            <div class="card-body pt-12">
                                                <h4 class="text-white">People get Intimidated </h4>
                                                <p>If you’re living well, you will make dissatisfied people feel
                                                    insignificnt.
                                                    People get intimidated by anything that makes them feel small.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Card Blog Fullbackground - text centered -->
                                </div>
                            {% endfor %}
                            <!-- End Card Blog Fullbackground - text centered -->
                        </div>
                    </div>
                </div>

                <ul class="pagination pagination-primary my-5">
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}

