{% load static %}
<!--   Core JS Files   -->
  <script src="{% static 'blog/js/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'blog/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'blog/js/perfect-scrollbar.min.js' %}"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
  <script src="{% static 'blog/js/typedjs.js' %}"></script>
  <!--  Plugin for CountUp, full documentation here: https://github.com/inorganik/CountUp.js -->
  <script src="{% static 'blog/js/countup.min.js' %}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
  <script src="{% static 'blog/js/rellax.min.js' %}"></script>
  <script src="{% static 'blog/js/choices.min.js' %}"></script>
  <script src="{% static 'blog/js/flatpickr.min.js' %}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="{% static 'blog/js/parallax.min.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'blog/js/nouislider.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
  <script src="{% static 'blog/js/glidejs.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the blob animation -->
  <script src="{% static 'blog/js/anime.min.js' %}" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="{% static 'blog/js/chartjs.min.js' %}"></script>
  <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="{% static 'blog/js/soft-design-system.min.js' %}" type="text/javascript"></script>